/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****************************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #666;
    font-family: Georgia;
}

#main {
    width: 800px;
    margin: 10px auto;
    background-color: white;
    padding: 20px;

}

#main table, #main table tr, #main table td{
		padding: 5px;
}



#adminMenu
{
		margin: 5px 0 20px 0;
}

h2
{
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 20px;
}

.short-desc {
    font-style: italic;
}

.post {
    border: 2px dashed #aaa;
    margin-bottom: 20px;
    padding: 20px;
}

#footer {
    margin-top: 50px;
}

#postslist {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#postslist td,
#postslist th{
    border: 1px solid #ccc;
    padding: 5px;
}

.myform input, .myform label, .myform textarea
{
	float: left;
	clear: left;
}

.clear
{
	clear: both;
}